.hidden {
      display: none;
}

#main-container {
      width: 428px;
      margin: 20px auto;
      border: solid 4px rgb(67, 67, 67);
      border-radius: 3px;

      background-color: #d7fff4;
}

#main-contents {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-column-gap: 16px;
      padding-left: 20px;
      padding-right: 20px;
}




article {
      grid-column: 1/-1;
      margin-bottom: 30px;
}

body { 
      font-family: 'big-caslon-fb', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #141414;
}



p {
      line-height: 27px;
      font-size: 20px;
      color: #363636;
      grid-column: 1/-1;
      text-align: center;

      padding-top: 16px;
      padding-bottom: 30px;
}

img {
      grid-column: 1/-1;
      width: 389px;
}


#title {
      font-family:'miller-display', serif;
      font-weight: 700;
      font-style: normal;
      
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px #48c28d ;
      text-align: center;

      margin-top: 30px;
      margin-bottom: 40px;
      grid-column: 1/-1;
      padding: 10px;
      padding-bottom: 15px;
      background-color: #141414;
}

#hero-img {
      grid-column: 1/-1;
      border: solid 18px white;

      width: 350px;
}

#story-box {
      grid-column: 1/-1;
      display: flex;
      justify-content: center;
}

.sub-title {
      grid-column: 1/-1;

      margin-top: 20px;

      font-family: 'bely', serif;
      font-weight: 700;
      font-style: italic;

      font-size: 40px;
      text-shadow: 3px 1px 1px#438ce0;
      text-align: center;

      margin-top: 40px;
      margin-bottom: 30px;
}